.githubid {color:#4183c4}
form {
  font-size: 1.4em;
}
form label, 
form input.name {
  float: left;
}
form label      {width: 100px;}
form input.name {width: 150px;}

form div.inputs { 
  float:left;
}
form div.thumbnail_p { }

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  xpadding: 100px;
  font-size: 13px;
}
#notice {
  background: lightgreen;
  font-size: 1.2em;
  font-weight: bold;
}
section.group {
  clear:both;
  padding: 15px;
  margin-bottom: 10px;
  /* border-radius */
  -webkit-border-radius:  15px;
  -moz-border-radius:     15px;
  border-radius:          15px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow:    rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow:         rgba(0,0,0,0.2) 0px 1px 3px;
}

section.group > h2 { 
  text-align: center;
  padding-bottom:4px;
  border-bottom: 1px #ccc solid;
}
div.group > h2 > small {
  font-size: 0.7em;
  font-style: italic;
}

div.thumbnail {
  background: #fff;
  margin: 0 auto;
  width: 220px;
  padding: 5px 0px 15px;
  margin: 10px;
  text-align: center;
  border: 2px solid;
  /* border-radius */
  -webkit-border-radius:  15px;
  -moz-border-radius:     15px;
  border-radius:          15px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow:     rgba(0,0,0,0.2) 0px 1px 3px;
}
div.thumbnail:hover {
  border-color: red;
}
  
section#current {
  background: lightyellow;
}
section#current div.thumbnail_naked  {
  float:left;
  padding: 10px;
  margin: 0 25px 0 0;
}
section#current div.thumbnail_naked img {
  -webkit-border-radius:  60px;
  -moz-border-radius:     60px;
  border-radius:          60px;
}

section#current div.more  {
  padding: 10px;
  margin: 0 25px 0 0;
}
section#current div.more  p {
  font-weight: bold;
  font-size: 1.1em;
  color: #4183c4;
  margin: 5px;
}
section#current div.more  p:first-child {
  margin: 0;
}

section#available_solos {
  background: orange;
}
section#available_solos  div.thumbnail {
  float:left;
  background: lightyellow
}
section#available_solos  div.thumbnail img{
  border-radius: 40px;
}


section#available_pairs {
    background: lightgreen;
}
section#available_pairs  div.thumbnail {
  float:left;
}
